[submodule "mros2"]
  path = mros2
  url = https://github.com/Sorasky4/mros2.git
[submodule "lwip-posix"]
  path = lwip-posix
  url = https://github.com/Sorasky4/lwip-posix.git
[submodule "cmsis-posix"]
  path = cmsis-posix
  url = https://github.com/Sorasky4/cmsis-posix.git
