[submodule "mros2"]
  path = mros2
  url = https://github.com/Sorasky4/mros2.git
[submodule "cmsis-wasm"]
	path = cmsis-wasm
	url = git@github.com:Sorasky4/cmsis-wasm.git
[submodule "lwip-wasm"]
	path = lwip-wasm
	url = git@github.com:Sorasky4/lwip-wasm.git
